<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{C('domain.main')}/public/home/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="{C('domain.main')}/public/home/css/style.css" type="text/css" rel="stylesheet" media="all"> 
<link rel="stylesheet" href="{C('domain.main')}/public/home/css/flexslider.css" type="text/css" media="all" property="" /> 
<link href="{C('domain.main')}/public/home/css/font-awesome.css" rel="stylesheet"> 			<!-- font-awesome icons -->
<link href="{C('domain.main')}/public/home/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
<!-- //Custom Theme files -->  
<!-- js -->
<script src="{C('domain.main')}/public/home/js/jquery-2.2.3.min.js"></script>  
<script src="{C('domain.main')}/public/home/js/smoothscroll.min.js"></script> 
<!-- //js -->

</head>
