{include file="Common/head.html"}

<body> 
	<!-- banner -->
	<div class="banner w3about">
		<!-- header -->
		{include file="Common/header.html"}
		<!-- //header --> 
		<!-- banner-text -->
		<!-- <div class="banner-text"> 
			<div class="container"> 
				<div class="banner-w3lstext" >
					<h2>所有明信片</h2>
				</div> 	 
			</div>
		</div> -->
		<!-- //banner-text --> 
	</div>
	<!-- //banner -->
	<div>

	<!-- welcome -->
	 <div class="welcome"> 
	
		<div class="container">
			<div class="col-md-7 welcome-w3lleft">
				<h3>所有明信片</h3>
				<h5>下面是所有旅游爱好者发的旅游明信片，带我们领略这个美丽而神秘的世界</h5>
				<p>
				在什刹海边散步直到天空变成淡紫色。跳上手划船便倚在船尾，徐徐的风带着水的味道，心情立刻松弛下来。必须说的话，必须有的面具，必须挤出的微笑，沉沉压着的顾虑和思念，在这一池春波面前，都可卸掉不理。这一刻，只要做我就好。甩掉鞋子，以清清之水濯我足，听着两人吱呀吱呀的摇橹声，看着粼粼波光和不远处的点点灯火，顿觉时间停止，心情平静得几乎掉泪。我是谁，在哪个朝代，爱什么人，为何人所爱，想去什么样的地方，想过什么样的生活，这一切，我全都忘了，只记得新月如钩，慢慢蓝下去暗下去的天空一点星也无，心中传来杳杳的歌声。
				</p>  
			</div>  
	
			<div class="col-md-5 welcome-w3lright">
				<div class="welcome-grids">
					<div class="service-box">
					<a href="{C('domain.main')}/index.php?p=home&m=feedback&a=showAd" style="display: inline-block;">
						<div class="agileits-wicon">
							<i class="fa fa-envelope"></i>
						</div>
						<h5>意见反馈</h5> 
					</a>
					</div> 
					<div class="clearfix"> </div>
				</div>
				<div class="welcome-grids">
					<div class="col-md-6 col-sm-6 col-xs-6 service-box">
					<a href="{C('domain.main')}/index.php?p=home&m=photo&a=showList" style="display: inline-block;">
						<div class="agileits-wicon">
							<i class="fa fa-picture-o"></i>
						</div>
						<h5>相　册</h5> 
					</a>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 service-box">
						<div class="agileits-wicon">
							<i class="fa fa-music"></i>
						</div>
						<h5>开启/关闭</h5> 
					</div>
					<div class="clearfix"> </div>
				</div>
			</div> 
			<div class="clearfix"> </div>
		</div> 
	</div>
	<!-- //welcome -->
	
	<!-- postcard -->
	<div class="trips" style="padding-top: 120px;"> 
	{foreach from=$postcards item='postcard'}
		<!-- 明信片1 -->
		<div class="container" style="margin-bottom: 100px;"> 
			<div class="trips-agileinfo" > 
				<a href="">
				<!-- 明信片图片 -->
				<div class="col-md-6 trip-agileitsimg" style="background:url(../../../{$postcard.picture}) no-repeat center 0px;"> 
				</div></a>
				<!-- 明信片内容 -->
				<div style="position: relative;" class="col-md-6 trip-agileitstext welcome-w3lleft">
					<a href="" ><h3>{$postcard.title}</h3></a>
					<h5>{$postcard.user_nickname}</h5>


					<p style="width: 500px;height: 70px;">{$postcard.intro}</p> 
					<div class="owl-demo owl-carousel owl-theme"> <!-- 滑动版 -->
						{foreach from=$postcard.photos item='photo'}
						<div class="item agile-item">
							<a href="{C('domain.main')}/index.php?p=home&m=photo&a=showList" style="display: inline-block;">
						 		<img src="{C('domain.main')}/{$photo.picture}" width="100" height="100" class="trip-w3img" alt=""/>  
						 	</a>
						</div> 
						{/foreach}
						
					</div> 
					<div class="icon-box col-md-3 col-sm-4" style="width: 100px;height: 50px;float: right; position: relative;top: 26px;left: 10px;"><a class="agile-icon" href="{C('domain.main')}/?p=home&m=postcard&a=showArticle&id={$postcard.id}" style="font-size: 14px; font-weight: bold;"><i class="fa fa-toggle-right"></i>开 启</a></div>

				</div>
				<div class="clearfix"></div>
			</div>
		</div> 
		{/foreach}
		<!-- //明信片1 -->

	<!-- 分页 -->
        <div align="center">
			<ul class="pagination pagination-lg">
				<li>
				{if $now_page==1}
				<a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
				{else}
				<a href="{C('domain.main')}/index.php?p=home&m=postcard&a=showList&id=13&pa={$now_page-1}" aria-label="Previous"><span aria-hidden="true">«</span></a>
				{/if}
				</li>
				{for $i=1 to $page step 1}
					<li><a href="{C('domain.main')}/index.php?p=home&m=postcard&a=showList&id=13&pa={$i}">{$i}</a></li>
				{/for}
				{if $now_page==$page}
				<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
				{else}
				<li><a href="{C('domain.main')}/index.php?p=home&m=postcard&a=showList&id=13&pa={$now_page+1}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
				{/if}
			</ul>
		</div>
        <!-- 分页结束 -->
	</div> 
	<!-- //postcard -->
	

	<!-- footer -->
	{include file="Common/footer.html"}
	<!-- //footer --> 

	<!-- menu js -->
	<script>
		$('.toggle').on('click', function() {
			$('.menu').toggleClass('open');  
			$('.w3nav').toggleClass('show-w3nav');  
			$('.w3nav a').toggleClass('show-w3nav-link');  
			$('.toggle').toggleClass('close');  
		});
	</script>
	<!-- //menu js -->

	<script src="{C('domain.main')}/public/home/js/owl.carousel.js"></script>
	
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="{C('domain.main')}/public/home/js/move-top.js"></script>
	<script type="text/javascript" src="{C('domain.main')}/public/home/js/easing.js"></script>	
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({
				scrollTop:$(this.hash).offset().top
			},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	

	<script>
		$(document).ready(function() { 
			$(".owl-demo").owlCarousel({ 
			  autoPlay: 3000, //Set AutoPlay to 3 seconds
		 
			  items : 3,
			  itemsDesktop : [768,3],
			  itemsDesktopSmall : [414,4]
		 
			});
		}); 
	</script>

	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up --> 

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{C('domain.main')}/public/home/js/bootstrap.js"></script>

</body>
</html>